annotated-types==0.7.0
anyio==4.13.0
certifi==2026.5.20
charset-normalizer==3.4.7
colour==0.1.5
cssselect2==0.9.0
eval_type_backport==0.3.1
freetype-py==2.5.1
fusepy==3.0.1
googleapis-common-protos==1.75.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.17
importlib_metadata==8.7.1
invoke==2.2.1
jsonpath-python==1.1.6
lxml==6.1.1
mistralai==1.12.4
numpy==2.4.6
opentelemetry-api==1.42.1
opentelemetry-exporter-otlp-proto-common==1.42.1
opentelemetry-exporter-otlp-proto-http==1.42.1
opentelemetry-proto==1.42.1
opentelemetry-sdk==1.42.1
opentelemetry-semantic-conventions==0.63b1
packaging==26.2
pillow==12.2.0
potracer==0.0.4
protobuf==6.33.6
pycairo==1.29.0
pydantic==2.13.4
pydantic_core==2.46.4
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
reportlab==4.5.1
requests==2.34.2
rlPyCairo==0.4.0
setuptools==82.0.1
six==1.17.0
supernotelib==0.7.1
svglib==1.6.0
svgwrite==1.4.3
tinycss2==1.5.1
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
webencodings==0.5.1
wheel==0.47.0
zipp==4.1.0
